<nav class="bg-slate-400">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
	  <div class="relative flex h-16 items-center justify-between">
		<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

		</div>
		<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
		  <div class="flex flex-shrink-0 items-center">
			<button routerLink="/inicio">
				<img class="h-8 w-auto" src="assets/clinica.png" alt="Your Company">
			</button>
		  </div>
		  <div class="hidden sm:ml-6 sm:block">
			<div class="flex space-x-10">
			  <a routerLink="/registro" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500" >Registro</a>

			  @if(correoUsuario == null)
			  {
				  <a routerLink="/login" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500 hover:text-white">Login</a>
			  }
			  <a routerLink="/usuarios" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500 hover:text-white">Usuarios</a>

				<a routerLink="/turnos" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500 hover:text-white">Turnos</a>

			  @if (auth.tipoUsuario == 'Administrador' || auth.tipoUsuario == 'Paciente') {
				<a routerLink="/solicitar-turno" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500 hover:text-white">Solicitar turno</a>
			  }

			  @if (auth.tipoUsuario == 'Administrador') {
				<a routerLink="/seccion-usuarios" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500 hover:text-white">Seccion usuarios</a>
			  }

			  @if (auth.tipoUsuario == 'Especialista') {
				<a routerLink="/pacientes" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500 hover:text-white">Pacientes</a>
			  }
			  
			  <a routerLink="/perfil" class="rounded-md px-3 no-underline py-2 text-lg font-bold text-white hover:bg-gray-500 hover:text-white">Ver perfil</a>

			  @if (correoUsuario) 
			  {
				<a (click)="cerrarSesion()"  class="rounded-md px-3 no-underline py-2 text-lg bg-red-500 font-bold text-white hover:bg-gray-500 hover:text-white">Cerrar sesión</a>
			  }
			</div>
		  </div>
		</div>
	  </div>
	</div>

	
  </nav>
  