<div class="flex flex-col pt-5">
	<h1 class="text-center text-cyan-400 text-6xl">Solicitar turno</h1>
	<div class="mt-5 p-5 flex flex-row space-x-10">
		<button (click)="actualizar('-')" class="mt-16">
			<i class="fa-solid fa-arrow-left fa-2xl"></i>
		</button>

		@for (e of mostrarEspecialistas; track $index) {
			<div class="card" style="width: 50rem;">
				<img [src]="e.foto" style="max-height: 180px;" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">{{e.nombre}} {{e.apellido}}</h5>
				  <!--href#especialidades-->
				  <a (click)="verEspecialidades(e)" class="btn btn-danger">Ver especialidades</a>
				</div>
			  </div>
		}
		<button (click)="actualizar('+')" class="mt-16">
			<i class="fa-solid fa-arrow-right fa-2xl"></i>
		</button>
	</div>
	<!--id especialidades-->
	  <div id="especialidades" class="mt-5 p-5 flex flex-row space-x-28 justify-center">
		@for (especialidad of especialistaSeleccionado?.especialidad; track $index) {
			<button (click)="seleccionarEspecialidad(especialidad)" type="button" class="btn btn-danger h-32 w-64" style="font-size: 30px;">{{especialidad}}</button>
		}
	  </div>
	  @if (mostrarTabla) {

		  <div class="w-screen tabla ml-36">
			<table class="schedule-table text-center">
				<thead>
					<tr>
						@for (dia of diasDisponibles ; track $index) {
							<th>{{dia | date:'shortDate'}}</th>
						}
					</tr>
				</thead>
				<tbody>
					@if (especialistaSeleccionado) {
						@for (i of getMaxHorarios(); track $index) {
							<tr>
								@for (dia of diasDisponibles; track $index) {
										<td>
											@if (obtenerHorario(dia,i)) {
												<button  class="bg-gray-300 rounded-sm h-14 w-14 hover:bg-gray-400" (click)="sacarTurno(obtenerHorario(dia,i), dia)">
													{{ obtenerHorario(dia, i) }}
												</button>
											}
										</td>
								}
							</tr>
						}
						
					}
				</tbody>
			  </table>
		  </div>
	  }
</div>

@if (mostrarSpinner) {
	<app-spinner></app-spinner>
}