<div class="grid grid-cols-2 w-full">
	<div class="flex flex-col p-10 ">
		<h1 class="text-4xl font-bold text-gray-600">Pacientes</h1>
		<div class="mt-10">
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Nombre</label>
			<div class="relative mt-2 rounded-md shadow-sm">
			  <input type="text" name="nombre" id="nombre"  class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Apellido</label>
			<div class="relative mt-2 rounded-md shadow-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Edad</label>
			<div class="relative mt-2 rounded-md shadow-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">DNI</label>
			<div class="relative mt-2 rounded-md shadow-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Obra social</label>
			<div class="relative mt-2 rounded-md shadow-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Mail</label>
			<div class="relative mt-2 rounded-md shadow-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Contraseña</label>
			<div class="relative mt-2 rounded-md shadow-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
		  </div>
	</div>
	<div class="flex flex-col p-10 ">
		<h1 class="text-4xl font-bold text-gray-600">Especialistas</h1>
		<div class="mt-10">
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Nombre</label>
			<div class="relative mt-2 rounded-md shadow-sm max-w-screen-sm">
			  <input type="text" name="nombre" id="nombre"  class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Apellido</label>
			<div class="relative mt-2 rounded-md shadow-sm max-w-screen-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full max-w-screen-sm rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Edad</label>
			<div class="relative mt-2 rounded-md shadow-sm max-w-screen-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">DNI</label>
			<div class="relative mt-2 rounded-md shadow-sm max-w-screen-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full  rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Especialidad</label>
			<div class="relative mt-2 rounded-md shadow-sm max-w-screen-sm" id="especialidad">
			  <input type="text" name="nombre" id="nombre" class="block w-full  rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<button type="button" (click)="agregarInputEspecialidad()" class="btn btn-secondary mt-2">Agregar especialidad</button>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Mail</label>
			<div class="relative mt-2 rounded-md shadow-sm max-w-screen-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full  rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
			<label for="price" class="block text-lg mt-2 font-medium text-gray-900">Contraseña</label>
			<div class="relative mt-2 rounded-md shadow-sm max-w-screen-sm">
			  <input type="text" name="nombre" id="nombre" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="">
			</div>
		  </div>
	</div>
</div>
