@if (usuarioSeleccionado == null || regreso) {
	<div class="grid grid-cols-2" style="overflow-x:hidden;width: 100vw;">
		<div class="flex justify-center items-center mt-3">
			<button (click)="cargarEspecialista()" style="max-height: 80vh; max-width: 40vw; border-radius: 15px; background-color: azure; overflow: hidden; padding: 0;">
			  <img src="assets/especialistas.png" style="max-height: 100%; max-width: 100%; object-fit: cover;">
			</button>
		  </div>
		  <div class="flex justify-center items-center mt-3">
			<button (click)="cargarPaciente()" style="max-height: 80vh; max-width: 40vw; border-radius: 15px; background-color: azure; overflow: hidden; padding: 0;">
			  <img src="assets/pacientes.jpg" style="max-height: 100%; max-width: 100%; object-fit: cover;">
			</button>
		  </div>
	</div>
}
@else if(usuarioSeleccionado == 'Paciente')
{
	<app-cargar-paciente (regresar)="verificarRegreso($event)"></app-cargar-paciente>
}
@else {
	<app-cargar-especialista (regresar)="verificarRegreso($event)"></app-cargar-especialista>
}
